body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
}

.logo {
    height: 80px;
}

.ticket-card {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.img-prod {
    width: 60px;
    height: 60px;
    object-fit: cover;
}